
<nav class="navbar navbar-light bg-primary">
    <div class="row"><br><br></div>

    <div class="container-fluid">
        <h1 class="navbar-brand" style="color: whitesmoke; margin-left: 10px;">Admin Dashboard</h1>
        <div class="d-flex">
            <!-- <button routerLink="/login" class="btn btn-primary mx-3">Search Flights</button> -->
            <button routerLink="/addflight" class="btn btn-success mx-3">Add Flight</button>
            <button routerLink="/schedule" class="btn btn-success mx-3">Add Schedule</button>
            <button routerLink="/blockflight" class="btn btn-success mx-3">Block Flight</button>
            
            <button (click)="Logout()" class="btn btn-danger mx-3">LogOut</button>
        </div>
    </div>
</nav>
<!-- <p>admin-dashboard works!</p> -->